@model ChekingSys.Models.Login

@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>
<style>
body { background-image: url('https://images2.minutemediacdn.com/image/upload/c_crop,h_1237,w_2200,x_0,y_0/f_auto,q_auto,w_1100/v1584051433/shape/mentalfloss/75877-gettyimages-1132736184.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }
</style>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-controler="Home" asp-action="Index">Back to the Home page</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
